@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

/* Header Styling */
header {
    background-color: #808686;
    color: rgb(91, 175, 243);
    padding: 10px;
    text-align: center;
}

h2 {
    text-align: center;
}

/* Flex Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.hamburger {
    font-size: 24px;
    background: none;
    border: none;
    color: rgb(91, 175, 243);
    cursor: pointer;
}

.menu {
    display: none;
    flex-direction: column;
    text-align: center;
}

.menu li {
    list-style: none;
    margin: 10px 0;
}

.menu a {
    color: rgb(91, 175, 243);
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}

/* Main Content */
main {
    padding: 20px;
    margin: 0%;
    padding: 0%;
    display: grid;
}

figure {
    margin-bottom: 20px;
    text-align: center;
}

figure img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

figcaption {
    margin-top: 10px;
}
footer {
    background-color: #808686;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    position: relative;

}

img {
    max-width: 100%;
    height: auto;
}
footer p {
    margin: 0;
}

