
body{
    margin: auto;
    padding: 0%;
    line-height: 1.5;
    background-color: azure;
}

header, main, footer {
    margin: 1rem;
    padding: 1rem;
    max-width: 640px;
    border: 1px solid rgb(170, 147, 116);
    background-color: rgb(246, 248, 247);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

}

section {
    padding: 1rem;
    background-color: rgb(234, 238, 240);
    border-radius: 8px;
    box-shadow: 0 4px 6px 4px rgb(208, 223, 228);
}

@media  screen and (min-width: 500px) {
    header {
        background-color: rgb(184, 187, 189);
        color: darkslategrey;
    }
}

main {
    grid-template-columns: 1fr 1fr;
}